.markdown-body-custom {
    overflow: auto;
	max-width: 1000px;
}

.hide {
	background-color: #252525;
	color: #252525;
	text-shadow: none;
}

.markdown-body-custom p code {
    color: greenyellow;
}

.markdown-body-custom li code {
    color: greenyellow;
}

.markdown-selected {
    background: purple;
}

.markdown-menu-btn{
    position: fixed;
    top: 12px;
    left: 8px;
}

.autoindex-container {
	margin-bottom: 64px;
}

.autoindex-footer {
	line-height: 48px;
	background: #3a3a3a;
	font-size: 10pt;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.comments-body{
	max-width: 1000px;
}

#player-layout {
	width: 290px;
	position: fixed !important;
	top: 8px  !important;
	right: 4%  !important;
}

#player-close {
	position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.aplayer-info{
	background: rebeccapurple !important;
}