/* 隐藏滚动条 */
::-webkit-scrollbar {
	width: 0 !important;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
	width: 0 !important;
	height: 0;
}

.markdown-body-custom {
	overflow: auto;
	max-width: 1000px;
}

.comments-body {
	/* body - 16*2 */
	max-width: 968px;
}

.hide {
	background-color: #252525;
	color: #252525;
	text-shadow: none;
}

.markdown-body-custom p code {
	color: greenyellow;
}

.markdown-body-custom li code {
	color: greenyellow;
}

.markdown-selected {
	background: purple;
}

.markdown-menu-btn {
	position: fixed;
	top: 12px;
	left: 8px;
}

.autoindex-container {
	margin-bottom: 64px;
}

.autoindex-footer {
	line-height: 48px;
	background: #3a3a3a;
	font-size: 10pt;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.actor {
	fill: lightgrey !important;
	stroke: none !important;
}

.messageLine0 {
	stroke-width: 1.5 !important;
	stroke-dasharray: none !important;
	stroke: lightgrey !important;
}

.messageLine1 {
	stroke-width: 1.5;
	stroke-dasharray: none !important;
	stroke: lightgrey !important;
}

#arrowhead path {
	fill: lightgrey !important;
	stroke: lightgrey !important;
}

.messageText {
	fill: gray !important;
	stroke: none !important;
	font-family: 'trebuchet ms', verdana, arial;
	font-size: 14px;
}

.loopText>tspan {
	fill: green !important;
	stroke: none !important;
	font-family: 'trebuchet ms', verdana, arial;
}

#player-layout {
	width: 290px;
	position: fixed !important;
	top: 8px !important;
	right: 4% !important;
}

#player-close {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
}

.aplayer-info {
	background: rebeccapurple !important;
}